@media (max-width: 700px) {
  .sidebar {
    position: fixed;
    left: -260px;
    top: 0;
    height: 100%;
    z-index: 999;
    transition: left 0.3s ease;
  }

  .sidebar.active {
    left: 0;
  }

  .sidebar-link {
    gap: 20px;
  }

  .main {
    margin-top: 50px;
  }

  .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    color: #3366cc;
    justify-content: space-between;
    margin-left: 45px;
  }

  .navbar {
    position: fixed;
    width: 100%;
  }

  .btn-side {
    position: fixed;
    top: 10px;
    left: 10px;
    /* z-index: 3000; */
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); */
    cursor: w-resize;
  }

  .navbar {
    display: flex;
  }

  .right_area {
    width: 100%;
  }
}
