@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f9f9f9;
  color: #333;
}

.container {
  display: flex;
  height: 100vh;
  /* overflow: hidden; */
}

.sidebar {
  width: 240px;
  background-color: #fff;
  padding: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #ddd;
  height: 100vh;
  /* overflow-y: auto; */
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  color: #3366cc;
  justify-content: space-between;
}

.logo-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.btn-side {
  display: none;
} 

.logo-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 6px;
  background-color: #3366cc;
  object-fit: cover;
  overflow: hidden;
}

.logo-image {
  width: 100%;
  height: 100%;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.sidebar-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-weight: 500;
  padding: 10px;
  color: #333;
  border-radius: 6px;
}

.sidebar ul {
  list-style: none;
  margin-top: 20px;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a:hover {
  background-color: #eee;
}

.container_icon_sidebar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logout {
  color: red;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.container_logout {
  display: flex;
  flex-direction: column;
  color: red;
}

.right_area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 30px;
  border-bottom: 1px solid #ddd;
}

.nav_right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar input {
  padding: 6px 10px;
  border: none;
}

.nav_search {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
  border: 1px solid #dee1e6ff;
  padding-left: 10px;
  border-radius: 6px;
}

.nav_search input:focus {
  outline: none;
}

.avatar {
  width: 2.25rem; /*36px */
  height: 2.25rem;
  background-color: #3366cc;
  border-radius: 50%;
  margin-right: 7px;
  object-fit: cover;
}

.main {
  /* flex: 1; */
  background-color: #FAFAFBFF;
  /* padding: 30px 40px; */
  overflow-y: auto;
}
.main-content {
  padding: 30px 40px;
}

footer {
  /* text-align: center; */
  background-color: #F3F4F6FF;
  /* padding: 15px; */
  height: 200px;
  border-top: 1px solid #DEE1E6FF;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* margin-top: 50px; */
}

.copyright-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.copyright-content span {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  gap: 10px;
}

.footer-content div {
  margin-top: 10px;
}

.footer-content div {
  display: flex;
  flex-direction: column;
  gap: 3px;
  color: #565D6DFF;
}

.button_help {
  font-family: Montserrat, sans-serif;
  width: 218px;
  height: 40px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffffff;
  background: #3366ccff;
  opacity: 1;
  border: none;
  border-radius: 6px;
}

.icon {
  width: 15px;
  height: 15px;
}