:root {
    --text-primary: #636AE8FF;
}
.collections-header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header {
    width: 100%;
}
.level-content {
    background-color: #F2F2FDFF;
    width: 100%;
    height: 130px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 100px;
}
.right-content-level {
    width: auto;
    display: flex;
    align-items: center;
}
.icon-collections {
    width: 60px;
    height: 60px;
}
.text-info {
    color: #565D6DFF;
}
.progress-content {
    display: flex;
    flex-direction: column;
}
.progress-content span {
    display: flex;
    flex-direction: row-reverse;
}

.badge-collection {
    width: 100%;
    height: auto;
    margin-top: 50px;
}
.badge-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 10px;
    margin-top: 30px;
}
.badge-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    justify-content: space-between;
    padding: 15px;
}
.lock-badge-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    justify-content: space-between;
    padding: 0 15px 15px 15px;
    filter: opacity(50%); /*semakin kecil maka akan semakin burem tidak transparan */
}
.container-padlock {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.padlock {
    width: 15px;
    height: 15px;
}
.badge-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.common-badge {
    border: 1px solid #DEE1E6FF;
    border-radius: 10px;
    padding: 0 5px;
    color: #cacbff;
    font-weight: 600;
}
.rare-badge {
    border: 1px solid #DEE1E6FF;
    border-radius: 10px;
    padding: 0 5px;
    color: #ffb2cb;
    font-weight: 600;
}
.epic-badge {
    border: 1px solid #DEE1E6FF;
    border-radius: 10px;
    padding: 0 5px;
    color: #3ac4b5;
    font-weight: 600;
}
.legend-badge {
    border: 1px solid #DEE1E6FF;
    border-radius: 10px;
    padding: 0 5px;
    color: #ffd60d;
    font-weight: 600;
}
.trophy-milestones {
    width: 100%;
    height: auto;
    margin-top: 50px;
}
.card-content-trophy {
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.card-trophy-progress {
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.trophy-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.trophy-progress span {
    color: var(--text-primary);
    font-weight: 600;
}

.personal-highlights {
    width: 100%;
    height: auto;
    margin-top: 50px;
}
.card-content-highlights {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 50px;
}
.card-highlights {
    width: 100%;
    height: 150px;
    background-color: #F2F2FDFF;
    border-radius: 15px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-highlights h2 {
    color: var(--text-primary);
}
.icon-highlights {
    width: 30px;
    height: 30px;
}