.stepbox {
  border: 1px solid #ddd;
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
  font-family: Inter, sans-serif;
  padding: 10px;
}
.stepbox h1 {
  color: #3366cc;
  padding: 10px;
}
.progress_bar_image {
  width: 14rem;
  height: auto;
}
.stepbox image {
  width: 100%;
  height: auto;
  padding: 10px;
}
.stepbox h3 {
  padding: 5px;
}
.progress_text {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.progress_bar {
  display: flex;

  margin: 10px;
}
#star {
  border: 1px solid #ff8c00ff;
  background-color: #ff8c00ff;
  border-radius: 8px;
  padding: 10px;
  align-self: center;
  width: 2.5rem;
  height: 2.5rem;
}
.claimrewards_card{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
}

.stepbox_claimrewards {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}
.claimrewards {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}
.claimrewards h3 {
  font-family: Montserrat, sans-serif;
  margin: 0.625rem;
}
.voucher_small {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  width: 100%;
  padding: 10px;
  margin: 10px;
}
.text_voucher {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.discount_small {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  width: 100%;
  padding: 10px;
  margin: 10px;
}
.text_discount {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.claimrewards p {
  font-size: 1rem;
}
.gift_icon {
  display: flex;
  justify-content: center;
}
.gift_icon img {
  border: 1px solid #ff8c00ff;
  background-color: #ff8c00ff;
  border-radius: 8px;
  padding: 10px;
  align-self: center;
  width: 2.5rem;
  height: 2.5rem;
}
.percent_icon {
  display: flex;
  justify-content: center;
}
.percent_icon img {
  border: 1px solid #ff8c00ff;
  background-color: #ff8c00ff;
  border-radius: 8px;
  padding: 10px;
  align-self: center;
  width: 40px;
  height: 40px;
}
.graphic_container {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  width: 100%;
}
.graphic_text {
  display: flex;
  justify-content: flex-start;
  font-family: inter, sans-serif;
  margin-bottom: 20px;
  padding-bottom: 10px;
  margin-left: 10px;
}
.graphic_image {
  max-width: 100%;
  object-fit: contain;
  height: auto;
}
.achievement_container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.achievements_card {
   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  width: 100%;  
}
.achievement_text {
  font-family: Inter, sans-serif;
  margin-left: 30px;
  margin-bottom: 10px;
}
.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  height: 100%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.card img {
  width: 32px;
  height: 32px;
}
.card p {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding-top: 8px;
}
