@media (max-width: 700px) {
  .level-content {
    width: auto;
    height: auto;
  }

  .icon-collections {
    width: 25px;
    height: 25px;
  }

  .progress-content span {
    font-size: 0.675rem;
  }

  .progress-content progress {
    width: 100%;
  }

  .right-content-level h1 {
    font-size: 0.875rem;
  }
}
