@media (max-width: 768px) {

  /* ===== NAVBAR ===== */
  .menu-toggle {
    display: block;
    font-size: 26px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .nav{
    position: absolute;
  }
  .nav-links,
  .nav-actions {
    position: relative;
    top: 70px;
    right: 20px;
    background: #fff;
    width: 200px;
    border-radius: 12px;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    display: none;
  }

  nav.active .nav-links,
  nav.active .nav-actions {
    display: flex;
  }

  .nav-links li {
    display: block;
    margin: 10px 0;
  }

  /* ===== CONTENT ===== */
  .content {
    margin: 20% 5% 0;
    max-width: 100%;
  }

  .content h1 {
    font-size: 34px;
  }

  .content p {
    font-size: 14px;
  }

  .content .btn {
    padding: 12px 40px;
  }

  .menu-icon {
    display: block;
  }

  .nav-links,
  .nav-actions {
    display: none;
  }

  /* Saat checkbox dicentang */
  #menu-toggle:checked ~ .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    padding: 16px 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
  }

  .nav-links li {
    text-align: center;
    margin: 12px 0;
  }

}
