@media (max-width: 768px) {

  /* ===== NAVBAR ===== */
  .menu-toggle {
    display: block;
    font-size: 26px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .nav-links,
  .nav-actions {
    position: absolute;
    top: 70px;
    right: 20px;
    background: #fff;
    width: 200px;
    border-radius: 12px;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 15px 0;
  }

  nav.active .nav-links,
  nav.active .nav-actions {
    display: flex;
  }

  .nav-links li {
    display: block;
    margin: 10px 0;
  }

  /* ===== CONTENT ===== */
  .content {
    margin: 20% 5% 0;
    max-width: 100%;
  }

  .content h1 {
    font-size: 34px;
  }

  .content p {
    font-size: 14px;
  }

  .content .btn {
    padding: 12px 40px;
  }
}
