+@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

.balance-card {
  background-color: #f3f6fcff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vouchers,
.discounts {
  margin-bottom: 40px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 15px;
}

.card {
  background-color: #ffffffff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  min-height: 310px;
  overflow: hidden;
  border: 1px solid #DEE1E6FF;
}

#view-history {
  background-color: #19191fff;
  width: 119px;
  height: 40px;
  color: #f3f6fcff;
  border-radius: 6px;
  border: none;
  border: 1px solid #19191fff;
}

#view-history:hover {
  background-color: #fff;
  cursor: pointer;
  color: #19191fff;
}
.card_image {
  background-color: #c2c2c2;
  height: 150px;
}
.card_image img {
  width: 100%;
  height: 100%;
}
.card-content {
  flex: 1;
  padding: 15px;
}
.card-content h4 {
  font-size: 16px;
  margin-bottom: 6px;
  color: #222;
}

.card-content p {
  font-size: 14px;
  color: #555;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.btn-redeem {
  font-family: sans-serif;
  background-color: #3366CCFF;
  color: #FFFFFFFF;
  border: 1px solid #3366CCFF;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  padding: 8px;
  margin: 15px;
}

.btn-redeem:hover {
  background: #FFFFFFFF;
  color: #3366CCFF;
}

.card-points {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.card-points h3 {
  color: #3366CCFF;
}
.card-points p {
  color: #555;
  font-size: small;
  margin-bottom: 5px;
}