@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.stepup {
  width: 100%;
  min-height: 100vh;
  background: url("../assets/images/walking.jpg") center/cover;
}

/* ===== NAVBAR ===== */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  background-color: #fff;
}

.logo {
  width: 180px;
}

.nav-links li {
  display: inline-block;
  margin: 0 12px;
}

.nav-links a,
.login-btn {
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  color: #333;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  padding: 12px 36px;
  background-color: #3366cc;
  color: #fff;
  border-radius: 30px;
  border-top-right-radius: 0px;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  transition: 0.3s;
}

.btn:hover {
  border-top-right-radius: 30px;
}

/* ===== HERO CONTENT ===== */
.content {
  margin-top: 10%;
  margin-left: 5%;
  max-width: 600px;
}

.content h1 {
  font-size: 3rem;
  color: #fff;
  font-family: Montserrat, sans-serif;
}

.content p {
  color: #fff;
  margin: 20px 0;
  padding-bottom: 10px;
  font-family: Montserrat, sans-serif;
}

.anim {
  opacity: 0;
  transform: translateY(50px);
  animation: moveup 0.5s ease forwards;
}

@keyframes moveup {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}
@media (max-width: 768px) {

  /* ===== NAVBAR ===== */
  .menu-toggle {
    display: block;
    font-size: 26px;
    background: none;
    border: none;
    cursor: pointer;
  }
  nav{
    position: relative;
    flex-wrap: wrap;
  }
  .nav-links,
  .nav-actions {
    position: relative;
    top: 70px;
    right: 20px;
    background: #fff;
    width: 200px;
    border-radius: 12px;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    display: none;
  }

  nav.active .nav-links,
  nav.active .nav-actions {
    display: flex;
  }

  .nav-links li {
    display: block;
    margin: 10px 0;
  }

  /* ===== CONTENT ===== */
  .content {
    margin: 20% 5% 0;
    max-width: 100%;
  }

  .content h1 {
    font-size: 34px;
  }

  .content p {
    font-size: 14px;
  }

  .content .btn {
    padding: 12px 40px;
  }

  .menu-icon {
    display: block;
  }

  .nav-links,
  .nav-actions {
    display: none;
  }

  /* Saat checkbox dicentang */
  #menu-toggle:checked ~ .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    /* width: 100%; */
    z-index:1000;
    background: white;
    padding: 16px 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
  }

  .nav-links li {
    text-align: center;
    margin: 12px 0;
  }

}
